# Dependency Files
node_modules/
package-lock.json

# Log Files
logs/
*.log
report*.json

# Temp Files
tmp/

# Config Files
.env
config.json
command-leaderboard.json
command-last-run.json
blacklist.json

# Tensorflow Models
tf_models/

# Mac Files
.DS_Store

# In-Development Commands
commands/edit-face/danny-devito.js
commands/edit-face/emoji-face.js
commands/edit-face/eyes.js
