# Dependency Files
node_modules/
package-lock.json

# Log Files
logs/
*.log
report*.json

# Config Files
.env
config.json
command-leaderboard.json
command-last-run.json
blacklist.json

# Tensorflow Models
tf_models/

# Tesseract Trained Data
*.traineddata

# In-Development Commands
commands/edit-image/vintage.js
